# Zerodrop
# https://github.com/oftn-oswg/zerodrop

# This is a systemd template unit file for Zerodrop.
# See INSTALL.md for installation instructions.

[Unit]
Description=Zerodrop
After=syslog.target
After=network.target

[Service]
Type=simple
User=zerodrop
Group=zerodrop
WorkingDirectory=/home/zerodrop/go/src/github.com/oftn-oswg/zerodrop/
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/zerodrop
ExecStartPre=/bin/chown zerodrop:www-data /var/run/zerodrop
ExecStart=/usr/bin/time /home/zerodrop/%i/zerodrop -config /home/zerodrop/%i/config.yml
Restart=always
Environment=USER=zerodrop HOME=/home/zerodrop

[Install]
WantedBy=multi-user.target
