{{define "admin"}}
{{- template "header" $ -}}
<div class="admin-box">
    <form method="post">
        <div class="field">
            <div class="field-value form-input-wrap"><input type="text" name="url" placeholder="https:// (URL)"/></div>
        </div>
        <div class="field-col">
            <div class="field">
                <label>
                    <div class="field-name">Access Expiry Count:</div>
                    <div class="field-value form-number-wrap"><input type="number" name="access_expiry" min="0" value="1"/></div>
                </label>
            </div>
            <div class="field">
                <label>
                    <div class="field-name">Redirection:</div>
                    <div class="field-value form-checkbox-wrap"><input type="checkbox" name="redirect"/></div>
                </label>
            </div>
        </div>
        <input type="hidden" name="action" value="add"/>
        <input class="form-submit" type="submit" value="Add"/>
    </form>
</div>
{{if .Entries}}
<div class="admin-box">
    <ul class="shotlist">
        {{range .Entries}}
            <li class="{{if .Redirect}}shot-redirect {{end}}shot-entry">
                <div class="shot-url"><a href="{{$.Config.Base}}{{.UUID}}">{{.URL}}</a></div>
                <div class="shot-access">
                    <span class="shot-count">{{.AccessCount}}</span> /
                    <span class="shot-expire">{{.AccessExpiry}}</span>
                </div>
                <form method="post">
                    <input type="hidden" name="uuid" value="{{.UUID}}"/>
                    <input type="hidden" name="action" value="delete"/>
                    <a href="#" onclick="this.parentNode.submit();return false;" class="shot-delete">[Delete]</a>
                </form>
            </li>
        {{end}}
    </ul>

    <form method="post">
        <input type="hidden" name="action" value="clear"/>
        <input type="submit" value="Clear All Entries" class="form-submit"/>
    </form>
</div>
{{end}}
{{- template "footer" $ -}}
{{end}}
