{{define "header"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{$.Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div class="my-5">
            {{if $.LoggedIn}}
            <a role="button" href="{{$.Config.Base}}admin/logout" class="btn btn-sm btn-outline-secondary float-right">Logout</a>
            {{end}}
            <h1 class="display-4">Zerodrop
                <span class="lead">Private content server</span>
            </h1>
        </div>
{{end}}
