{{define "header"}}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Oneshot Login</title>
<link href="{{$.Config.Base}}static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{{end}}
