{{define "header"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{$.Title}}</title>
    <link rel="stylesheet" href="{{$.Config.Base}}admin/static/zerodrop.css" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="my-5">
            {{if $.Claims}}
            <a role="button" href="{{$.Config.Base}}admin/logout" class="btn btn-sm btn-outline-secondary float-right">Logout</a>
            {{else}}
            <a role="button" href="{{$.Config.Base}}admin/login" class="btn btn-sm btn-outline-secondary float-right">Login</a>
            {{end}}
            <h1 class="display-4">Zerodrop
                <span class="lead d-none d-md-inline">Private content server</span>
            </h1>
        </div>
{{end}}
