{{define "login"}}
{{template "header" $}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">Zerodrop Login</div>
            <div class="card-body">
                {{if $.Error}}
                <div class="alert alert-danger" role="alert">{{$.Error}}</div>
                {{end}}
                <form method="post">
                    <div class="form-group">
                        <input type="password" class="form-control" name="credentials" id="form-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "footer" $}}
{{end}}
