{{define "my"}}
{{template "header" $}}
<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link" href="{{$.Config.Base}}admin/">All Entries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{$.Config.Base}}admin/my">My Entries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{$.Config.Base}}admin/new">New</a>
    </li>
</ul>
{{template "entries" $}}
{{template "footer" $}}
{{end}}
