{{define "new"}}
{{- template "header" $ -}}
<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link" href="{{$.Config.Base}}">All Entries</a>
    </li>
    {{if not $.Claims.Admin}}
    <li class="nav-item">
        <a class="nav-link" href="{{$.Config.Base}}admin/my">My Entries</a>
    </li>
    {{end}}
    <li class="nav-item">
        <a class="nav-link active" href="{{$.Config.Base}}admin/new">New</a>
    </li>
</ul>
{{if $.Error}}
<div class="alert alert-danger" role="alert">{{$.Error}}</div>
{{end}}
<form id="form-new" enctype="multipart/form-data" method="post">
    <input type="hidden" name="token" value="{{$.Claims.Token}}" />
    <div class="card mb-3 zd_form_source">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="zerodrop-nav nav-link active" id="url-tab" data-toggle="tab" href="#url" role="" aria-controls="url" aria-selected="true">
                        <input type="radio" name="source" checked hidden value="url" />URL
                    </a>
                </li>
                <li class="nav-item">
                    <a class="zerodrop-nav nav-link" id="file-tab" data-toggle="tab" href="#file" role="" aria-controls="file" aria-selected="false">
                        <input type="radio" name="source" hidden value="file" />File Upload
                    </a>
                </li>
                <li class="nav-item">
                    <a class="zerodrop-nav nav-link" id="text-tab" data-toggle="tab" href="#text" role="" aria-controls="text" aria-selected="false">
                        <input type="radio" name="source" hidden value="text" />Textarea
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body tab-content" id="zd_form_source_panel">
            <div class="tab-pane show active" id="url" role="tabpanel">
                <!-- URL Source -->
                <div class="form-group">
                    <input name="url" type="url" class="form-control form-control-lg" placeholder="https://" />
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="url_type" id="url_type_proxy" value="proxy" checked/>
                        <label class="form-check-label" for="url_type_proxy">
                            Proxy
                            <small class="form-text text-muted">
                                Hides the source URL by acting as a proxy.
                            </small>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="url_type" id="url_type_redirection" value="redirect"/>
                        <label class="form-check-label" for="url_type_redirection">
                            Redirection
                            <small class="form-text text-muted">
                                Performs a 307 HTTP redirection to the specified URL.
                            </small>
                        </label>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="file" role="tabpanel">
                <!-- File Source -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input name="file" type="file" class="custom-file-input zerodrop-file" data-name=".zerodrop-filename" data-mime=".zerodrop-filemime"/>
                        <label class="custom-file-label zerodrop-filename" for="fileinput">Choose local file</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="filemime" class="col-sm-2 col-form-label">Content-Type</label>
                    <div class="col-sm-10">
                        <input name="file_type" type="text" class="form-control zerodrop-filemime" placeholder="text/plain"/>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="text" role="tabpanel">
                <!-- Text Source -->
                <div class="form-group">
                    <textarea name="text" class="form-control" id="source_text" rows="8" style="font-family: Consolas, Lucida Console, monospace;"></textarea>
                </div>
                <div class="form-group row">
                    <label for="source_content_type" class="col-sm-2 col-form-label">Content-Type</label>
                    <div class="col-sm-10">
                        <input name="text_type" type="text" class="form-control" id="source_content_type" placeholder="text/plain">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 zd_form_access">
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id="access_expire" name="access_expire" />
                    </div>
                </div>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="access_expire">Expire <span class="d-none d-md-inline">&nbsp;access to the page&nbsp;</span> after</label>
                </div>
                <input name="access_expire_count" type="number" class="form-control" value="1" step="1" min="0" />
                <div class="input-group-append">
                    <span class="input-group-text">request(s).</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="access_blacklist" class="col-sm-2 col-form-label">Blacklist</label>
                <div class="col-sm-10">


<div class="btn-group mb-1" role="group" aria-label="Blacklist editor">
    <button type="button" class="btn btn-dark">+ IP or Hostname</button>
    <button type="button" class="btn btn-dark">+ Network</button>
    <button type="button" class="btn btn-dark">+ Database</button>
    <button type="button" class="btn btn-dark">+ Geofence</button>
</div>

<div class="zerodrop-blacklist-items">

<div class="card text-white bg-dark mb-1">
  <div class="card-header">IP or Hostname Rule
    <button class="btn btn-danger btn-sm float-right">Remove</button>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-start">
        <div class="flex-grow-1 input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">#</span>
            </div>
            <input type="text" class="form-control" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon1">
        </div>
        <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
            <label class="btn btn-light active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Block
            </label>
            <label class="btn btn-light">
                <input type="radio" name="options" id="option2" autocomplete="off"> Allow
            </label>
        </div>
    </div>
    <p class="card-text">
        <input type="text" class="form-control form-control-lg" placeholder="IP or Hostname"/>
    </p>
  </div>
</div>

<div class="card text-white bg-dark mb-1">
  <div class="card-header">Geofence Rule
    <button class="btn btn-danger btn-sm float-right">Remove</button>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-start">
      <div class="flex-grow-1 input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="text" class="form-control" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon1">
      </div>
      <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
        <label class="btn btn-light active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Block
        </label>
        <label class="btn btn-light">
          <input type="radio" name="options" id="option2" autocomplete="off"> Allow
        </label>
      </div>
    </div>
    <div class="zerodrop-map"></div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Radius</label>
        <div class="col-sm-10">
            <input type="range" class="custom-range" min="0" max="1000"/>
        </div>
    </div>
  </div>
</div>

<div class="card mb-1">
  <div class="card-header">Database Rule
    <button class="btn btn-danger btn-sm float-right">Remove</button></div>
  <div class="card-body">
    <div class="d-flex align-items-start">
      <div class="flex-grow-1 input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="text" class="form-control" placeholder="Comment" aria-label="Comment" aria-describedby="basic-addon1">
      </div>
      <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
        <label class="btn btn-light">
          <input type="radio" name="options" id="option1" autocomplete="off"> Block
        </label>
        <label class="btn btn-light active">
          <input type="radio" name="options" id="option2" autocomplete="off" checked> Allow
        </label>
      </div>
    </div>
    <div class="row">
        <label class="col-sm-2 col-form-label">Database</label>
        <div class="col-sm-10">
          <select class="custom-select custom-select-lg mb-3">
            <option value="datacenters">datacenters</option>
            <option value="tor">tor</option>
          </select>
        </div>
    </div>
  </div>
</div>
</div>

                </div>
            </div>
            <div class="form-group row">
                <label for="access_redirect_on_deny" class="col-sm-2 col-form-label">Redirect On Deny</label>
                <div class="col-sm-10">
                    <input class="form-control" id="access_redirect_on_deny" name="access_redirect_on_deny" />
                    <small class="form-text text-muted">
                        Entry to redirect to once the page expires or the user has been blacklisted.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 zd_form_publish">
        <div class="card-body">
            {{if $.Config.Recaptcha.SiteKey}}
            <div class="g-recaptcha mb-3" data-sitekey="{{$.Config.Recaptcha.SiteKey}}"></div>
            {{end}}
            <div class="form-group row">
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{$.Config.Base}}</span>
                    </div>
                    <input type="text" name="publish" class="form-control zerodrop-publish" />
                    <div class="input-group-append d-none d-md-block">
                        <button type="button" class="btn btn-outline-secondary zerodrop-uuid" data-field=".zerodrop-publish">Generate UUID</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Publish</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{- template "footer" $ -}}
{{end}}
